/New Folder/LAB1/nbproject/private/
/New Folder/IS_TP1_Simulation/build/
/New Folder/IS_TP1_Simulation/dist/
/New Folder/IS_TP1_Simulation/nbproject/private/
/LAB1/IS_TP1_Simulation/build/
/LAB1/IS_TP1_Simulation/dist/
/LAB1/IS_TP1_Simulation/nbproject/private/
/NewFolder/IS_TP1_Simulation/build/
/NewFolder/IS_TP1_Simulation/dist/
/NewFolder/IS_TP1_Simulation/nbproject/private/